<h2>About Clash Royale</h2>

<p>The Game Clash Royale is super fun and maybe even slightly addicting. You can play it for free by downloading it from the App Store on iOS or the Google Play store for android.</p>

{{#link-to 'contact'}}Click here to contact us!{{/link-to}}
