<div class= "container">
  <header class= "jumbotron">

  </header>
  <ul id="ul">
    <li class="header">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li class="header">{{#link-to 'contact'}}Contact{{/link-to}}</li>
    <li class="header">{{#link-to 'about'}}About Us{{/link-to}}</li>
  </ul>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
