<p>Clash Royale is made by SuperCell. It is a company located out of Helsinki, Finland and they would love for you to share your love for the game with them.</p>

<p>Contact us today!</p>

<p>
  Supercell Oy <br>
  Itämerenkatu 11-13<br>
  00180 Helsinki<br>
  Finland<br>
</p>

<p>(123) 867-5309</p>

<p>superCell@supercell.com</p>
